@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Diatype';
  src: url('/fonts/ABCDiatype-Regular-Trail.woff2') format('woff2'),
       url('/fonts/ABCDiatype-Regular-Trail.woff') format('woff'),
       url('/fonts/ABCDiatype-Light-Trail.woff2') format('woff2'),
       url('/fonts/ABCDiatype-Light-Trail.woff') format('woff'),
       url('/fonts/ABCDiatype-Bold-Trail.woff2') format('woff2'),
       url('/fonts/ABCDiatype-Bold-Trail.woff') format('woff'),
       url('/fonts/ABCDiatype-Heavy-Trail.woff2') format('woff2'),
       url('/fonts/ABCDiatype-Heavy-Trail.woff') format('woff'),
       url('/fonts/ABCDiatype-Medium-Trail.woff2') format('woff2'),
       url('/fonts/ABCDiatype-Medium-Trail.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, 'Diatype', 'Montserrat' sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Tailwind classes for animations */
.animate-slideDown {
  animation: slideDown 1s ease forwards;
}

.animate-slideInRight {
  animation: slideInRight 2s ease forwards;
}